*.iml
.gradle
/tasky/local.properties
/tasky/.idea/caches
/tasky/.idea/libraries
/tasky/.idea/modules.xml
/tasky/.idea/workspace.xml
/tasky/.idea/navEditor.xml
/tasky/.idea/assetWizardSettings.xml
.DS_Store
/tasky/build
/tasky/captures
/tasky/.externalNativeBuild
/tasky/.cxx
/tasky/local.properties
